/* Задание 1 */
/* .wrap {
    width: 250px;
    height: 200px;
    background-color: rgba(216, 189, 189, 0.438);
}
p {
    padding: 10px 0;
    text-align: center;
}
p:nth-child(2) {
    font-size: 30px;
}
button {
    margin: 0 auto;
    display: block;
} */
/* --------------------------------------------------- */

/* Задание 2 */
/* * {
    margin: 0;
}
.wrap {
    width: 100vw;    
    height: 100vh;
    background-color: rgba(216, 189, 189, 0.438);
    text-align: center;
}
 */
/* --------------------------------------------------- */

 /* Задание 3 */

/*  button {
     width: 100px;
     height: 30px;
     
 } */
/* --------------------------------------------------- */
/* Задание 4 */

.wrap {
    display: flex;
    width: 400px;
    height: 150px;
    background: rgba(220, 230, 207, 0.281);
    margin: 0 auto;
    box-shadow: 5px 5px 20px 0px gray;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 150px;
}
.btn {
    text-align: center;
    line-height: 48px;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    border: 1px solid white;
    width: 100px;
    height: 50px;
    background: #00aeff;
    /* background: #0011ff; */
}

.btn:hover {
    background: rgba(0, 174, 255, 0.493);
}

.text {
    padding: 5px;
    font-size: 14px;
    overflow: auto;
}
.text-HTML {
    display: none;
    display: block;
}
.text-CSS {
    display: block;
    display: none;
}
.text-JS {
    display: block;
    display: none;
}