@media screen and (max-width: 820px) {
    .aboutMe img {
        /* padding-left: 100px;  */
        width: 70%;
    }
    .aboutMe p {
        margin-left: 140px; 
        width: 64%;
        font-size: 2.6vw;


    }
}
/* @media screen and (max-width: 768px) {
    .aboutMe {
        width: 100%;
    }
    .aboutMe h1 {
        
        padding-left: 30%;
    }
} */
@media screen and (max-width: 730px) {
    .header ul  {
        top: -20px;
    }
}

@media screen and (max-width: 426px) {
    .header {
        width: 100%;
    }
    .header p {
        left:     0px;
        top: 10px;
    }
    .header p a {
        font-size: 2rem;
    }
    .frontImage {
        height: 400px;
        width: 200%;
    }
    .container1 {    height: 400px; 
    padding: 40px 0 0 20px;   }
    .container1 p {
        width: 150%;
    }
    .span1 {
        font-size: 50px;
    }
    .span2 {
        font-size: 30px;
    }
    input[value='Contact me'] {
        height: 100px;
        width: 250px;
        font-size: 2.5rem;
        border-radius: 50px;
        margin-left: 50px;
    }
    .aboutMe {
        /* width: 100%; */
    }
    .aboutMe h1 {
        /* padding-left: 30%; */
        font-size: 50px;
        /* display: block;
        position: relative; */
        /* width: 100%; */
    }
    .imgSvetlana {
        width: 100%;
    }
    .aboutMe img {
        width: 100%;
        /* margin: 0 20px 0 100px;  */
        /* float: left; */
        padding-left: 0px; 
        margin: 0;

    }
    .aboutMe p {
        width: 100%;
        /* float: left; */
        display: block;
        /* position: static; */
        margin: 0 auto;

    }

}

