/* Fonts Start */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

a {
    text-decoration: none;
}

nav a {
    font-family: Roboto Condensed;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
}



/* fonts - end */

* {
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 989px;
    margin: 0 auto;
}

.container {
    /* width: 1220px; */
    max-width: 1220px;
    margin: 0 auto;
}

.flex-box {
    display: flex;
}

.j-cont-sb {
    justify-content: space-between;
}

.a-items-center {
    align-items: center;
}

.f-d-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

a {
    text-decoration: ;
}


/* Header Start ___________ */

header {
    width: 100%;
    background-color: #0165A6;
}

.header--wrap {
    margin: 0 auto;
}

nav {
    height: 70px;
}


nav a {
    display: block;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 20px;
}

/* EnD of Header_______________ */

/* Start Of Banner _________________________________ */


.banner--container {
    background-image: url(images/banner-main.png);
    margin: 0 auto;
    height: 532.2px;
    /* padding: 0 64px 0 116px; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-wrap {
    margin: 94.22px 0 0 115px;
}

.banner-tel {
    display: flex;
    position: relative;
    justify-content: flex-end;
    top: 273px;
    right: 80px;

}

/* End Of Banner ________ */

/* Start of specifications_______________________ */


.specifications--container {
    margin: 0 auto;
}

.specifications-items {
    max-width: 820px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

}

.specifications-items img {
    margin-right: 15px;
}

.specifications-items p {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #1F4F85;
}

/* End of specifications___*/

/* Start of work-mode ______________________ */

.work-mode--container {
    overflow: hidden;
}

.work-mode__main-text {
    max-width: 615px;
}

.arrows {
    position: relative;
}

.work-mode__arrows {
    top: 134.135px;
}

.work-mode__slider {
    width: 1540px;
    margin-left: 50px;
    transition: all ease 1s;
}

.work-mode__slider .slider-item {
    padding: 30px 35px 33px 32px;
}

.slider-item--clean {
    width: 402px;
    height: 215px;
    background: #C0E7FF;
    border-radius: 20px;
}

.slider-item--white {
    width: 326px;
    height: 215px;
    background: #FEECDC;
    border-radius: 20px;
}

.slider-item--polish {
    width: 362px;
    height: 152px;
    background: #D2D7FD;
    border-radius: 20px;
}

.slider-item--soft {
    width: 360px;
    height: 215px;
    background: #C5FDE6;
    border-radius: 20px;
}

.radio-buttons-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    background-image: url(icons/checked-btn.svg);
}

input[type='radio']+label {
    background: #DDDEDB;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    cursor: pointer;
    margin: 0 6px;
}

/* End of work-mode __ */

/* Start of mobile-app ______________________ */


.mobile-app--container {
    position: relative;
}

.mobile-app {
    height: 622px;
    background: #AFF0BF;
}


.app-button {
    width: 214px;
}

.mobile-app__main-image {
    position: absolute;
    top: 59px;
}

.mobile-app__main-image--phone {
    right: 176px;
}

.mobile-app__main-image--brush {
    right: 0;
}

.mobile-app__content {
    max-width: 547px;
}

/* End of mobile-app ______________________ */

/* Start of line-of-products */

.line-of-products__container {
    overflow: hidden;
}

.slider__item {
    margin-right: 40px;
}

.line-of-products__arrows {
    top: 310px;
}

/* End of line-of-products ______________________ */

/* Start of recomend-expert */

.recomend-banners {
    flex-wrap: wrap;
    justify-content: space-between;
}

.recomend-banners__item-text {
    width: 470px;
    border: 3px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 20px;
    margin-bottom: 47.6px;
}

.recomend-banners__item-text--time-to-brush {
    height: 189px;
}

.recomend-banners__item-video {
    width: 470px;
    height: 291.2px;
    background: #C0E7FF;
    border-radius: 20px;
    margin-bottom: 47.6px;
}

.recomend-banners .margin-top {
    margin-top: -110px;
}

.recomend-banners__item-text--fresh-breath {
    height: 299px;
}

.recomend-banners__item-text--why {
    height: 289px;
}

.recomend-banners__item-text--how {
    height: 179px;
}

/* End of recomend-expert ______________________ */

/* Start of proper-care */

.proper-care--container {
    overflow: hidden;
}

.proper-care__arrows {

}
.proper-care-slider {
    justify-content: space-between;
}

.proper-care-slider__item {
    display: flex;
    flex-direction: column;
}

/* End of proper-care ______________________ */