
.banner-container {
    background-image: url(images/banner-main.png);
    height: 533px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.wrap {
    max-width: 989px;
    margin: 0 auto;
   
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}