
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 20px 0;
    font-size: 2rem;

}

p {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 0.89rem;
    
}
section {
    margin: 0 auto;
}
.fix-width {
    max-width: 1200px;
    
}

.flex-wrap {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap__element {
    margin: 0 3.5%;
    /* white-space: nowrap; */
    /* margin: 0 42px; */
}

.background-property {
    background: #F6F5FF;
    border-radius: 25px;
}

/* _____________________________________ */


.flex-wrap__element--text {
    width: 325px;
}
.flex-wrap__element--picture img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .background-property {
        margin: 15px 2.8%;
    }
}
@media screen and (max-width: 768px) {

    .flex-wrap {
        flex-direction: column;
    }
    .flex-wrap__element {
        margin: 0 15px;
        padding: 0 10px;
    }
    .flex-wrap__element--text {
        order: 2;
        text-align: center;
        width: 350px;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.83333rem;
    }
    .flex-wrap__element--picture {
        order: 1;
    }
    
}



