#mysite {
    .authorization-forms {
        background: rgba(0, 0, 0, 0.25);
        width: 100vw;
        height: 100vh;
        position: fixed;

        h3 {
            color: $colorLightBlack;
        }

        .form-frame {
            background: #FFFFFF;
            border-radius: 18px;
            margin: 165px auto 0;
        }

        .reg-log-changer {
            color: $colorBlue;
            font-size: 14px;
            text-decoration-line: underline;
            cursor: pointer;
        }

        .container {
            display: flex;
            justify-content: space-between;

            .form-title {
                color: $colorRed;
                padding: 15px 0 15px 20px;
            }

            .form-close-btn {
                padding-right: 20px;
                cursor: pointer;
            }
        }

        .form {
            position: relative;
            display: flex;
            flex-direction: column;

            &__elem {
                margin-left: 43px;
                margin-right: 43px;
            }

        }

        .form-input {
            height: 36px;
            border: 1px solid #000000;
            box-sizing: border-box;
            outline: none;
            padding-left: 30px;
        }

        label {
            position: absolute;
            left: 49px;
        }

        label[for="username"] {
            background-image: url("/images/icons/matryoshka.svg");
            width: 18px;
            height: 25px;
        }

        .label-email {
            background-image: url("/images/icons/email-ico.svg");
            width: 19px;
            height: 15px;
            position: absolute;
        }

        .label-password {
            background-image: url("/images/icons/password-ico.svg");
            width: 20px;
            height: 20px;
            position: absolute;
        }

        .label-re-password {
            background-image: url("/images/icons/password-ico.svg");
            width: 20px;
            height: 20px;
            position: absolute;
        }

        label[for="skype"] {
            background-image: url("/images/icons/skype-ico.svg");
            width: 21px;
            height: 21px;
            position: absolute;
        }


        .reg-log-changer {
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        .form-submit {
            width: 278px;
            height: 45px;
            background: $colorBlue;
            font-size: 18px;
            margin-top: 20px;
            margin-bottom: 35px;
            padding-bottom: 4px;
        }
    }


    .login-form {
        display: none;
        // background: rgba(0, 0, 0, 0.25);
        // width: 100vw;
        // height: 100vh;
        // position: fixed;

        .form-frame {
            width: 364px;
            height: 364px;
            // background: #FFFFFF;
            // border-radius: 18px;
            // margin: 165px auto 0;

            label[for="email"] {
                top: 45px;
            }

            label[for="password"] {
                top: 105px;
            }

            .form-input {
                &--email {
                    margin-top: 35px;
                    margin-bottom: 25px;
                }

                &--password {
                    margin-bottom: 45px;
                }
            }
        }
    }

    .login-form-active {
        display: block;
    }

    .register-form {
        display: none;

        .form-frame {
            height: 485px;
            width: 364px;

            label[for="username"] {
                top: 25px;
            }

            .label-email {
                top: 200px;
            }

            .label-password {
                top: 85px;
            }

            .label-re-password {
                top: 140px;
            }

            label[for="skype"] {
                top: 252px;
            }

            .form-input {
                margin-bottom: 20px;
            }

            #username {
                margin-top: 20px;
            }
        }
    }

    .register-form-active {
        display: block;
    }

    .placeholder-color::placeholder {
        color: red;
    }

    .register-success {
        position: fixed;
        width: 100vw;
        display: none;
        .register-success__frame {
            padding: 25px;
            box-sizing: border-box;
            margin: 200px auto;
            width: 800px;
            height: 357px;
            background: #717CD8;
            backdrop-filter: blur(4px);
            border-radius: 20px;
            text-align: center;
            h2 {
                margin: 10px 0;
            }
            .reg-success-btn {
                width: 164px;
                height: 45px;
                background: #FFFFFF;
                border-radius: 9px;
                color: $colorRed;   
                margin: 18px auto;
                line-height: 40px;
                cursor: pointer;
            }
            a {
                color: black;
            }
        }
    }
    .register-success-active {
        display: block;
    }

}