@media screen and (min-width: 1400px) {
    .home p {
        padding-top: 5vw;
        padding-left: 11vw;
        }
}
@media screen and (max-width: 768px) {
    .span1 {
        font-size: 50px;
        font-family: Poppins-Bold, sans-serif;
    }
    .span2 {
        font-size: 25px;
        font-family: Poppins-extraLight, sans-serif;
        letter-spacing: 1px;
    }
    .home p {
        padding-top: 10vw;
        padding-left: 12vw;
        }

    
    
}