#box {
    width: 100px;
    height: 100px;
    background: #000;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: blue;
}
.flex-box {
    display: flex;
}

.black {
    width: 100px;
    height: 50px;
    background: red;
}