.start-ring-rotate {
    transform: rotateZ(100000deg);
    transition: all linear 10000s;
}
.start-ring-hide {
    transform: rotateZ(200deg);
    opacity: 0;
    transition: all linear .8s;
}

.start-btn-rotate {
    transform: rotateZ(1000deg) scale3d(0,0,1);
    transition: all linear 1s;
}

.wrap-show {
    top: 0px;
    transition: all ease .5s;
    transition-delay: 1s;
}