@font-face {
    font-family: circe;
    src: url(fonts/circe.ttf);
}

@font-face {
    font-family: TTNorms;
    src: url(/fonts/TTNorms-Bold.ttf);
}

h1 {
    font-family: TTNorms;
    font-weight: bold;
}

h2 {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

* {
    margin: 0;

}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.style-14 {
    font-size: 14px;
}

.style-16 {
    font-size: 16px;
}

.style-18 {
    font-size: 18px;
}

.style-40 {
    font-size: 40px;
}

.ttnorm {
    font-family: TTNorms;
}

.circe {
    font-family: Circe;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;

}

/* Header start */

header>.wrap {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header .wrap__container {
    align-items: center;
}

nav>ul li {
    margin: 0 30px;
}

header a {
    color: #333333;
}

header .active {
    color: #A1A75C;
}

.header-tel-num {
    font-weight: bold;
}

.log-in-button>a {
    width: 130px;
    height: 40px;
    background: #FAFAFA;
    border-radius: 134px;
    align-items: center;
    justify-content: center;
}

.log-in-button img {
    margin-right: 11px;
}

.header-under-line {
    border: 1px solid #E8EAE7;
}

/* Header end */

/* Main Menu-tabs Start */

.menu-tabs {
    padding: 60px 0 0 0;
}

.menu-tabs-title {
    text-align: center;
}

.menu-tabs-title>h1 {
    color: #333333;
    line-height: 47px;
}

.menu-tabs-title>p {
    font-size: 18px;
    color: #6D7077;
}

.menu-tabs-buttons {
    text-align: center;
    padding-inline-start: 0;
    white-space: nowrap;

}

.menu-tabs-buttons a {
    margin: 30px 10px 0px 10px;
    display: block;
    padding: 13px 50px;
    background: #FFFFFF;
    border: 1px solid #CECFCD;
    box-sizing: border-box;
    border-radius: 74px;
    color: #A1A75C;
    font-weight: bold;
}

.menu-tabs-buttons .active {
    color: #FFFFFF;
    background: #A1A75C;
}

.arrow-buttons {
    justify-content: space-between;
    position: relative;
    top: -125px;
}

/* Main Menu-tabs END */

/* Main Menu-cards Start */

.menu-cards {
    background: #F9F9F9;
}

.menu-cards>.wrap {
    padding: 30px 0px 0;
    overflow: hidden;
}

.num-of-dishes,
.num-or-persons {
    flex-direction: column;
}

.dropdown-menu {
    display: none;
}

.menu-cards-filters {
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-cards-filters p {
    font-family: Circe;
    font-size: 14px;
    color: #464243;
}

input[type="radio"] {
    display: none;
}

.menu-cards-filters form label {
    margin-right: 10px;
    font-size: 18px;
    font-family: Circe;
    text-align: center;
    line-height: 32px;
    background: #FFFFFF;
    border: 1px solid #CECFCD;
    box-sizing: border-box;
    border-radius: 64px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.menu-cards-filters input:checked+label {
    background: #A1A75C;
    color: #FFFFFF;
}

.price {
    align-self: center;
    font-size: 32px;
    font-weight: bold;
    font-family: Circe;
    white-space: nowrap;
}

.price::before {
    content: "3 411 ₽";
}

.menu-cards-buttons a {
    display: flex;
    background: #ffffff;
    width: 220px;
    height: 60px;
    border: 1px solid #A1A75C;
    border-radius: 64px;
}

.menu-cards-buttons a span {
    font-family: Circe;
    font-weight: bold;
    color: #464243;
    font-size: 18px;
    margin: auto;
}

.menu-cards-buttons .active {
    background: #A1A75C;
    margin-left: 20px;
}

.menu-cards-buttons .active span {
    color: #FFFFFF;
}

/* Карточки блюд */
.menu-cards .grid-container {
    margin: 32px 0 80px 0;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);
}

.menu-cards-card {
    width: 370px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.menu-cards-card>.img-container {
    width: 370px;
    height: 220px;
}

.menu-cards-card>.img-container>a {
    position: relative;
    top: 10px;
    left: 303px;
    padding: 4px 12px;

    font-family: Circe;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;

    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

.margin-container {
    margin: 15px 20px 0;
}

.hashtag-block a {
    margin-right: 10px;
    padding: 3px 8px;
    background: #F0F1EE;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    font-family: Circe;
    font-weight: normal;
    font-size: 12px;
    color: #6D7077;
    white-space: nowrap;
}

.menu-cards-card h2 {
    margin: 15px 0;
}

.img-container--one {
    background: url(images/menu-cards-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--two {
    background: url(images/menu-cards-image-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--three {
    background: url(images/menu-cards-image-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--four {
    background: url(images/menu-cards-image-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--five {
    background: url(images/menu-cards-image-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--six {
    background: url(images/menu-cards-image-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--seven {
    background: url(images/menu-cards-image-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--eight {
    background: url(images/menu-cards-image-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container--nine {
    background: url(images/menu-cards-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-string {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.details-string__item {
    font-family: Circe;
    font-weight: normal;
    font-size: 14px;
    color: #646365;
}

.details-string__item::before {
    position: relative;
    top: 3px;
    padding-right: 5px;
}

.details-string__item--weight::before {
    content: url(icons/details-string-icon-1-big.svg)
}

.details-string__item--time::before {
    content: url(icons/details-string-icon-2-big.svg)
}

.details-string__item--chef::before {
    content: url(icons/details-string-icon-3.svg)
}

.details-string__item--chef a {
    position: relative;
    top: 4px;
}

.border {
    width: 314px;
    border-bottom: 1px solid #DDDEDB;
    margin: 15px 0 20px 0;
}


.shift {
    display: none;
}

.select-button {
    /* justify-content: space-around; */
    width: 140px;
    height: 44px;
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    border-radius: 26px;
    align-items: center;
}

.select-button>p {
    font-family: Circe;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 9px 0 20px;
}

.select-button>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background: #747840;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}


/* Footer start */


footer .grid-container {
    margin: 40px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 75%;
    grid-template-areas:
        "tel about clients email"
        "tel about clients soc-net"
        "tel about clients soc-net";
}

.tel-num {
    display: block;
    margin-bottom: 18px;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    color: #333333;
}

footer .wrap__container p {
    margin: 5px 40px 5px 0;
    white-space: nowrap;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #646365;
}

footer .wrap__container p a {
    color: #646365;
}

footer .wrap__container h2 {
    margin-bottom: 20px;
}

.left-block,
.right-block,
.wrap__container--for-clients>.flex,
.wrap__container--email-adress>.flex {
    flex-direction: column;
}

.wrap__container--email-adress>.flex {
    position: relative;
}

footer .wrap__container--email-adress p {
    margin: 0;
}


.email-input {
    align-items: center;
    width: 270px;
    min-height: 44px;
    background: #FFFFFF;
    border: 1px solid #CDCFD5;
    box-sizing: border-box;
    border-radius: 64px;
    overflow: hidden;
    margin: 20px 0;
}

input[type="email"] {
    padding-left: 10px;
    flex-direction: row;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 215px;
    font-size: 14px;
    font-family: Circe;
    color: #878786;
}

input[type="submit"] {
    background: url(icons/telegram-icon.svg);
    width: 36px;
    height: 36px;
    border: none;
    outline: none;
}
input[type="submit"]:active {
    opacity: 0.5;
}

.social-net-container {
    grid-column-start: 4;
    grid-row-start: 2;
}

.social-net-container a {
    margin-right: 15px;
}


.wrap__container--tel {
    grid-area: tel;
}

.wrap__container--about {
    grid-area: about;
}

.wrap__container--for-clients {
    grid-area: clients;
}

.wrap__container--email-adress {
    grid-area: email;
}

.social-net-container {
    grid-area: soc-net;
}