
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin: 20px 0;
    font-size: 2rem;

}
h1, h4, h6 {
    font-family: Source Sans Pro;
}
p, a {
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 0.89rem;
    margin-bottom: 50px;
    
}
a {
    text-decoration: none;  
}

.button {
    display: block;
    color: white;
    width: 229px;
    height: 36px;
    background: #034580;
    text-align: center;
    line-height: 36px;

}   

.button-center-position {
    margin: 0 auto;
}
.button:hover {
    background: #005FB5;
}

section {
    margin: 0 auto;
}


/* _______________________________________ */


.fix-width-1200 {
    max-width: 1200px;
    margin-bottom: 45px;
}

.flex-wrap {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap__element {
    margin: 0 3.5%; 
}

.background-property {
    background: #F6F5FF;
    border-radius: 25px;
}
.margin-property {
    margin: 0 15% 0 0;
}

.text-align-property {
    text-align: center;
}
.justify-content-property {
    justify-content: space-between;
}



/* _____________________________________ */


.flex-wrap__element--text {
    width: 325px;
}
.flex-wrap__element--picture img {
    width: 100%;
}
@media screen and (max-width: 1200px) {
    .background-property {
        margin: 0px 2.8%;
    }
}
@media screen and (max-width: 768px) {

    .flex-wrap {
        flex-direction: column;
    }
    .flex-wrap__element {
        margin: 0 15px;
        padding: 0 10px;
    }
    .flex-wrap__element--text {
        order: 2;
        text-align: center;
        width: 350px;
    }
    
    .flex-wrap__element--picture {
        order: 1;
    }
    
}
@media screen and (max-width: 412px) {
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.83333rem;
        
    }
    .padding-prop {
        padding: 0 10px;
    }
}
@media screen and (max-width: 320px) {
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.83333rem;
    }
}


/* ___________________________ */


.fix-width-1920 {
    max-width: 1920px;
    background: #407FFE;
}


.fix-width-1920 .flex-wrap__element--text {
    width: 440px;
    margin-left: 0;
    color: white;
}

@media screen and (max-width: 768px) {

    .fix-width-1920 .flex-wrap__element--text {
        text-align: left;
        margin: 0 15px;
        width: auto;
    }
        
}


/* _____________________________________________ */


.all-stars {
    background: url(images/frame_07_all-stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 435px;
    margin-bottom: 60px;
}

.container-all-stars {
    width: 600px;
    margin: 0 auto;
    padding-top: 90px;
    

}
.container-all-stars p {
    margin-bottom: 20px;
}
.container-all-stars h3, .container-all-stars p  {
    color: white;
}

@media screen and (max-width: 768px) {

    .all-stars { 
        background: #6E4AC3;
        height: auto;
        padding: 20px;  
    }

    .container-all-stars {
        width: 400px;
        margin: 0 auto;
        padding-top: 0;
    
    }

    .container-all-stars::before {
        content: url(images/megafon.png);
    }

}

@media screen and (max-width: 401px) {

    .container-all-stars {
        width: auto;
        margin: 0 auto;
    }

}

/* ___________________________________________ */

.join-content-item {
    margin-left: 20px;
}
.join-content-item h1 {
    font-weight: bold;
    font-size: 70px;
}
.join-content-item--blue-color h1 {
    color: #0490C6;
}
.join-content-item--green-color h1 {
    color: #37A04C;
}
.join-content-item--peorple-color h1 {
    color: #701D70;
}
.join-content-item h4 {
    text-transform: uppercase;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
}
.join-content-item h6 {
    color: #444444;
    font-size: 16px;
    font-weight: normal;
}

@media screen and (max-width: 1200px) {

    .justify-content-property img {
        display: none;
    }
    .join-content-item {
        margin: 0 30px;
    }
}

@media screen and (max-width: 768px) {

    .text-align-property {
        text-align: left;
        margin-left: 30px;
    }
    
    .align-item-property {
        align-items: flex-start;
    }

}
/* ___________________________________ */

.last-page h3, .last-page h6, .last-page a {
    color: white;
    white-space: nowrap;
    
} 
.last-page h3 {
    line-height: 38px;
    margin: 5px 0;
}
.last-page h6, .last-page a {
    font-weight: normal;
}
.last-page h6 {
    margin-top: 20px;
}
.last-page {
    height: 412px;
    position: relative;
    overflow: hidden;
}

.last-page img {
    position: absolute;
    z-index: 0;
}
.last-page img:first-child {
    left: 6.82%;
    right: 52.29%;
    top: -126.21%;
    bottom: 106.01%;
}
.last-page img:nth-child(2) {
    left: 64.4%;
    right: 0.98%;
    top: -75%;
    bottom: 48.21%;
}
.last-page .flex-wrap {
    align-items: stretch;
    justify-content: center;
    
}
.last-page .wrap {
    position: relative;
    z-index: 10;
    padding-left: 90px;
    padding-top: 20px;
    margin: 0 6%;
    
}
.last-page .flex-wrap .wrap:nth-child(1) {
    background: url(images/question-mark-ico.svg);
    background-repeat: no-repeat;
    background-position: 0 30px;
    
    
}
.last-page .flex-wrap .wrap:nth-child(2) {
    background: url(images/plus-ico.svg);
    background-repeat: no-repeat;
    background-position: 0 30px;
    
}

.last-page .button {
    position: absolute;
    top: 260px;
    
}
.button-width-one {
    width: 260px;
}
.button-width-two {
    width: 229px;
}


@media screen and (max-width: 1200px) {

    .last-page .wrap {
        padding-left: 0px;
        padding-top: 80px;
        background-position: 0 0;
    }
    .last-page .flex-wrap .wrap:nth-child(1) {
        background-position: 0 0;
    }
    .last-page .flex-wrap .wrap:nth-child(2) {
        background-position: 0 0;
    }

    .last-page .button {
        position: absolute;
        top: 310px;
    }
}

@media screen and (max-width: 768px) {

    .last-page {
        height: 800px;
    }
    .last-page h3 {
        display: inline-block;
        font-size: 5vw;
    }
    .last-page .wrap {
        text-align: center;
    }
    .last-page .flex-wrap .wrap:nth-child(1) {
        background-position: center;
        background-position-y: top;
    }
    .last-page .flex-wrap .wrap:nth-child(2) {
        background-position: center;
        background-position-y: top;
        top: 170px;
    }
    
    .last-page .button {
        left: 0;
        right: 0;
        bottom: 0;
        top: 400px;
        margin: auto;
    }
}

@media screen and (max-width: 480px) {
    .last-page h3 {
        font-size: 1.4rem;
    }
}

