.container::after {
    content: "[max-width] over 1440px till infinity";
    font-size: 40px;
}
.wrapper::after {
    content: "[min-width] 320 и больше";
    font-size: 40px;
}

@media screen and (max-width: 1439px) {
    .container::after {
        content: "@media screen and (max-width: 1439px), before 1439px";
        font-size: 32px;
    }
}
@media screen and (max-width: 767px) {
    .container::after {
        content: "@media screen and (max-width: 767px), before 767px";
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper::after {
        content: "@media screen and (min-width: 768px),  768px и больше ";
        font-size: 24px;
    }
}
@media screen and (min-width: 1440px) {
    .wrapper::after {
        content: "@media screen and (min-width: 1440px), over 1440px";
        font-size: 32px;
    }
}


