html {
    font-family: sans-serif;
}
body {
    background-image: url(img/background.png);

}
/* .general {
    position: relative;
    min-width: 1000px;
} */
.header {
    /* position: relative; */
    height: 200px;
    min-width: 1000px;
    background-color: rgb(255, 255, 255);
    margin: 0px 20px;
}
.headerText {
    font-style: italic;
    position: absolute;
    color: rgb(112, 112, 150);
    right: 50px;
    top: 50px;
    width: 300px;
}
.underHeaderText {
    font-style: normal;
}
.startLearningRussian { /*логотип*/
    height: 200px;
    position: absolute;
    left: 0px;
}
.nameOfSite {
    position: absolute;
    left: 300px;
    top: 50px;
    font-size: 50px;
    color: rgba(66, 68, 67, 0.822)
}
.everyChOfSuc{
    font-size: 25px;
    color: rgba(23, 134, 116, 0.801);    
margin: 0px;
}
.naviMenu {
    min-width: 1000px;
    position: relative;
    background: rgba(23, 134, 116, 0.801);
    height: 40px;
    margin: 0px 20px;
    /* bottom: 20px; */
}
ul {
    padding: 0px;
    margin: 0px;
    display: block;
    height: 40px;
    

}
li {
    font-size: 20px;
    display: inline-block;
    height: 25px;
    /* width: 50px; */
    position: relative;
    top: 3px;
    left: 50px;
    /* margin:2px 0px 0px 0px; */
    padding: 3px 10px 0px 10px;
    /* border-right: 1px solid rgb(2, 36, 8);
    border-bottom: 1px solid rgb(2, 36, 8); */
    transition: .5s linear;
    margin: 0px;

}
li:hover {
    background: rgb(76, 182, 157);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'lora', serif;
}
.whiteLine {position: relative;
background: white;
height: 20px;
min-width: 1000px;
margin: 0px 20px;}
.video {
    position: absolute;
    height: 315px;
    width: 560px;
    /* border: 1px solid black; */
    margin: 0px 0px 0px 20px;
}

.aboutMe {
    position: absolute;
    left: 580px;
     height: 315px;
    width: 463px;
    /* border-bottom: 1px solid black; */
    margin: 0px 20px 0px 0px;
 /* background:rgba(23, 134, 116, 0.801);   */
    background: rgba(131, 152, 192, 0.932);
    color: white;
    text-align: justify;
    font-size: 22px;
    font-family: Calibri, sans-serif;
}
.aboutMe>h3 {
    text-align: center;
    margin: 10px;
    color: rgba(40,71,93,1);
    }
.aboutMe>p {padding: 5px 20px; margin: 0px;}  
.aboutMe>hr {margin: 10px 40px 10px; }  
.menuFloat {
    background: orange;
    padding: 10px;
    position: relative;
}