@font-face {
    font-family: circe;
    src: url(fonts/circe.ttf);
}

@font-face {
    font-family: TTNorms;
    src: url(/fonts/TTNorms-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* общие стили */

.font-size-14,
.font-size-16,
.font-size-18 {
    font-family: circe;
}

.font-size-14 {
    font-size: 14px;
}


.font-size-18 {
    font-size: 18px;
}

.column {
    flex-direction: column;
}

.font-style-tel-num {
    font-family: circe;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-family: TTNorms;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

h2 {
    font-family: Circe;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

h3 {
    font-family: TTNorms;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

h4 {
    font-family: Circe;
    font-weight: bold;
    font-size: 16px;
    color: #131315;
}

header .flex-box {
    justify-content: space-between;
}

.flex-box {
    display: flex;

}

nav {
    display: flex;

}

.logo {
    position: relative;
}

.nav-small-screen a {
    margin: auto;
    padding: 0 7.5px;
}

.nav-medium-screen,
.font-style-tel-num,
.sign-in-button {
    display: none;
}

.nav-medium-screen {
    align-items: center;
    font-size: 16px;
}

.nav-medium-screen a {
    display: block;
    padding: 0 15px;
}

nav a {
    color: #464243;
}

.font-style-tel-num {
    font-family: circe;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    white-space: nowrap;
}

.sign-in-button {
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    background: #FAFAFA;
    border-radius: 134px;
}

.sign-in-button span {
    color: #333333;
    font-size: 16px;
}

.nav-small-screen .menu-button {
    padding: 0 15px 0 17.5px;
}

.border-bottom {
    border-bottom: 1px solid #E8EAE7;
}


/* Banner */

.banner {
    margin: 30px 10px 10px;
}

.banner .wrap {
    height: 125vw;
    max-height: 500px;
    background: linear-gradient(180deg, #A3B25A 0%, #A1B058 53.86%, #9DAB53 100%);
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}


.banner-content {
    position: relative;
    padding: 20px 0 20px 20px;
    z-index: 2;
}

.promotion-button {
    display: flex;
    width: 60px;
    height: 24px;
    background: #FF794F;
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: circe;
    font-size: 12px;
}

.promotion-button span {
    color: white;
    text-transform: uppercase;
    margin: auto;
}

.banner-content>p {
    font-family: Circe;
    color: #F0F1EE;
    margin-top: 10px;
    font-size: 16px;
}

.banner>.wrap>img {
    position: relative;
    width: 100vw;
    max-width: 410px;
    object-fit: cover;
    border-radius: 0 0 15px 15px;
    top: -125px;
    z-index: 0;
    margin: auto;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.slider-button {
    display: flex;
    z-index: 10;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.slider-button>img {
    margin: auto;
}

.radio-buttons-group {
    display: flex;
    align-items: center;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked+label {
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    width: 15px;
    height: 15px;
    border-radius: 15px;
}

input[type='radio']+label {
    background: #DDDEDB;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}

.button-big {
    display: none;
    width: 200px;
    height: 60px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
    border-radius: 134px;
    cursor: pointer;
}

.button-big span {
    margin: auto;
    color: white;
    font-family: Circe;
    font-weight: bold;
    font-size: 18px;
}

.button-big--white {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.button-big--white span {
    color: #333333;
}

/* декоративные элементы (лист перец помидлор) */
.leaf {
    background-image: url(images/leaf.png);
    background-repeat: no-repeat;
    height: 96.85px;
    position: absolute;
    width: 52.95px;
    right: 0px;
}

.tomato {
    background-image: url(images/tomato-small.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 66px;
    height: 66px;
    left: 23px;
    bottom: 83px;
    z-index: 5;
}

.pepper {
    background-image: url(images/chili_paper-small.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 138px;
    height: 116px;
    bottom: 53px;
    z-index: 5;
    right: -84px;
}

/* ___________________________________ */

/* How it works */

.how-it-works {
    text-align: center;
}

.how-it-works h1 {
    color: #131315;
    margin-top: 40px;
}

.how-it-works .wrap {
    flex-direction: column;
    align-items: center;
}

.how-it-works .wrap__element {
    width: 200px;
    align-items: center;
}

.how-it-works .wrap__element>img {
    margin: 40px 0 20px 0;
}

.how-it-works h4 {
    margin-bottom: 10px;
}

.how-it-works p,
.menu-choice p {
    font-family: Circe;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6D7077;
}

.how-it-works .radio-buttons-group {
    display: none;
}

/* ____________________________________ */

/* Menu Choice */

.menu-choice {
    background: #F9FCF9;
    margin-top: 60px;
    padding: 0 10px;
    overflow: hidden;

}

.menu-choice>.container {
    text-align: center;
    width: 220px;
    margin: 0 auto;
}

.menu-choice h3 {
    padding: 64px 0 15px 0;
}


.arrow-buttons {
    position: relative;
    justify-content: space-between;
    top: -80px;
    max-width: 1170px;
    margin: auto;
    max-width: 1094px;
}

.arrow-buttons__item {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #DDDEDB;
    display: flex;
}

.arrow-buttons__item img {
    margin: auto;
}

.arrow-buttons__item--left {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-buttons__item--right {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

.type-of-menu-buttons {
    position: relative;
    margin-bottom: 30px;
}

.type-of-menu-buttons__item {
    border-radius: 74px;
    border: 1px solid #CECFCD;
    background: #FFFFFF;
    padding: 12px 21px;
    margin: 10px 10px 10px 0;
    white-space: nowrap;
    color: #A1A75C;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.active {
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    color: #FFFFFF;
    border: none;
}

.menu-cards .wrap>a {
    top: 10px;
    left: 220px;
    font-family: Circe;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    padding: 4px 12px;
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

.menu-cards__item {
    width: 290px;
    height: 463px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
}

.menu-cards__item>.wrap {
    width: 290px;
    height: 180px;
    overflow: hidden;
}

.first-card-image {
    background: url(images/menu-cards-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-card-image {
    background: url(images/menu-cards-image-2.png);
    background-position: center;
}

.menu-cards .container {
    margin: 0 20px;
}

.hashtag-block {
    margin: 15px 0;
    justify-content: space-between;
}

.hashtag-block a {
    padding: 3px 8px;
    background: #F0F1EE;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    font-family: Circe;
    font-weight: normal;
    font-size: 12px;
    color: #6D7077;
}

.menu-cards__item {
    margin-right: 10px;
}

.menu-cards h2 {
    margin-bottom: 15px;
}

.details-string {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.details-string__item {
    font-family: Circe;
    font-weight: normal;
    font-size: 12px;
    color: #646365;
}

.details-string__item::before {
    position: relative;
    top: 3px;
    padding-right: 5px;
}

.details-string__item--weight::before {
    content: url(icons/details-string-icon-1.svg)
}

.details-string__item--time::before {
    content: url(icons/details-string-icon-2.svg)
}

.details-string__item--chef::before {
    content: url(icons/details-string-icon-3.svg)
}

.details-string__item--chef a {
    position: relative;
    top: 4px;
}

.border {
    width: 250px;
    border-bottom: 1px solid #DDDEDB;
    margin: 15px 0 20px 0;
}

.details-string__item--cooking-for {
    width: 100px;
}

.select-button {
    /* justify-content: space-around; */
    width: 140px;
    height: 44px;
    background: linear-gradient(0deg, #A1A75C, #A1A75C), #65BF4F;
    border-radius: 26px;
    align-items: center;
}

.select-button>p {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0 9px 0 20px;
}

.select-button>span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background: #747840;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.arrow-buttons--for-menu-cards {
    top: -250px;
}

/* footer */
footer {
    padding: 0 15px;
}
footer > .grid-box {
    display: grid;
    grid-template-columns: 1fr;
}
footer>.wrap {
    max-width: 1170px;
    margin-top: 8px;
}

footer .wrap__container {
    padding-top: 30px;
}

.tel-num {
    display: block;
    margin-bottom: 18px;
    font-family: TT Norms;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #333333;
}

footer .wrap__container p {
    margin: 5px 20px 5px 0;
    color: #646365;
}
footer .wrap__container p > a {
    color: #646365;

}

footer .wrap__container p,
input[type='email']+label {
    white-space: nowrap;
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

}

footer .wrap__container--tel>p {
    color: #464243;
    margin: 10px 0;
    
}

footer .wrap__container>h2 {
    margin-bottom: 5px;
}

footer .wrap__container>.flex-box {
    flex-wrap: wrap;
}
.sub-flex-box {
    display: flex;
}
.wrap__container--email-adress {
    display: flex;
    flex-direction: column;
}
input[type='email'] {
    display: none;
}

input[type='email']+label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 100%;
    color: #878786;
    background: #FFFFFF;
    border: 1px solid #CDCFD5;
    border-radius: 64px;
    /* text-align: left; */
    /* line-height: 44px; */
    padding: 0 4px 0 20px;
    margin-top: 10px;
}
input[type='email']+label span {
    display: block;
    
}
#telegram-button {
    display: none;
}

#telegram-button + label {
    display: flex;
    align-items: center;
}

.social-net-container {
    margin: 30px 0 40px 0;
}
.social-net-container a {
    margin-right: 15px;
}