<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
	<link rel="stylesheet" href="css/pop-up_menu.css">
	
</head>
<body>
		<div class="menu button">
				<img src="images/menu-button.png" alt="menu">
			</div>
		<div class="menu button-close">
			<img src="images/cross.png" alt="menu">
		</div>
	
	<menu class='hide'>
		<nav>
			<li>MENU</li>
			<li>MENU</li>
			<li>MENU</li>
			<li>MENU</li>
			<li>MENU</li>
			<li>MENU</li>
			<li>MENU</li>

		</nav>
	</menu>

	<script src='js/pop-up_menu.js'></script>
</body>
</html>