header {
     display: flex;
}
.wrap {
    margin: auto;
    max-width: 768px;
    /* background: rgb(209, 194, 218); */
}
.grid {
    display: grid;
    /* grid-template-rows: 34% 39%; */
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.grid__container {
    width: 100px;
    /* height: 100px; */
    background: green;
}

.item {
    width: 30px;
    height: 30px;
    border-radius:30px;
    background: rgb(27, 99, 24);
}

.flex-box {
    display: flex;
}

/* @media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 50px;
    }
    .one {
        grid-column-start: 1;
    }
    .two {
        grid-column-start: 2;
    }
    .three {
        grid-column-start: 2;
    }
    .four {
        grid-column-start: 2;
    }
    .five {
        grid-row-start: 2;
    }
} */

@media screen and (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 50px;
        grid-template-areas: 
            "one two three four"
            "one . three four"
            "one . . five";
    }
    .one {
        grid-area: one;
        /* grid-column-start: unset; */
    }
    .two {
        grid-area: two;
        /* grid-column-start: unset; */
    }
    .three {
        grid-area: three;
        /* grid-column-start: unset; */
    }
    .four {
        grid-area: four;
        /* grid-column-start: unset; */
    }
    .five {
        grid-area: five;
        /* grid-row-start: 2; */
        /* grid-column-start: 4; */
    }
}